<!DOCTYPE html>
<html>
<head>
    <!--
    * Author:         BeiYuu
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="BieYuu" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Edward's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<meta name="baidu-site-verification" content="4oRbA78LNh" />
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Edward</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="http://weibo.com/u/5201563700?topnav=1&wvr=6&topsug=1&is_all=1" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
            <a href="http://www.linkedin.com/in/%E7%83%A8-%E6%A2%81-011ab6125?authType=NAME_SEARCH&authToken=Lz01&locale=zh_CN&srchid=5200776871470577591171&srchindex=4&srchtotal=5&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A5200776871470577591171%2CVSRPtargetId%3A519302029%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" target="_blank" style="text-align:center;"><img src="https://www.linkedin.com/favicon.ico" alt="" width="22"/></a>
        </div>
    </div>

    {{ content }}

    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
    </script>
</body>
</html>
